<h1>Log In</h1>
<%= alert %>
<%= form_tag sessions_path do %>
  <div class="field">
    <%= label_tag :user_name %>
    <%= text_field_tag :user_name, params[:user_name] %>
  </div>
  <div class="field">
    <%= label_tag :password %>
    <%= password_field_tag :password %>
  </div>
  <div class="actions"><%= submit_tag "Log In" %></div>
<% end %>
