<% @idea.errors.full_messages.each do |message| %>
  <div class="alert alert-danger" role="alert"><strong><% message %></strong></div>
<% end %>
<%= form_for [@idea] do |f|%>
<div class="row">
  <div class="field col-md-4">
    <%= f.text_field :tag, class: "form-control", placeholder: "Type Tag" %>
  </div>
</div>
<br>
  <div class="row">
    <div class="field col-md-12">
      <%= f.text_field :summary, class: "form-control", placeholder: "Short Summary" %>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="field col-md-12">
      <%= f.text_field :description, class: "form-control form-control-lg", placeholder: "Description" %>
    </div>
  </div>
<br>
<div class="right">
  <%= button_tag(type: 'submit', class: 'btn btn-success sort') do %>
     Submit Idea
  <% end %>
  <%= link_to 'back', ideas_path, class: "btn btn-primary sort right" %>
  <% end %>
</div>
