<div class="page-header">
  <h1><%= @idea.tag %> <small> <%= @idea.summary %></small></h1>
  <div class="right">
    <span class="badge right sort"><%= @idea.likes.count %></span>
    <%= link_to "Like?", like_idea_path(@idea), class:"btn btn-s btn-info sort right" if current_user && !@idea.likes.find_by(user_id: current_user.id) %>
  </div>
</div>
<div class="page-header">
  <h2>Idea Description:</h2>
  <h5><%= @idea.description %></h5>
</div>
<div>
  <h2 class="block">Games from this idea:</h2>
  <div class="sort right">
    <%= render 'makegame' %>
    <%= render 'sort' %>
  </div>
</div>
<div class="list-group-item">
  <%= render 'games/gamelist' %>
  <% if @games.count == 0 %>
    <p>No games yet.</p>
  <% end %>
</div>
<%= render 'makegame' %>
<%= render 'addidea' %>
<% if session[:user_id] == @idea.user_id %>
  <%= link_to "Update Idea", edit_idea_path(@idea), class: "btn btn-primary" %>
  <%= link_to "Remove Idea", idea_path, class: "btn btn-danger", method: :delete, data: {confirm: "Remove Game?"} %>
<% end %>

