<h1>Welcome! <%= @user.user_name %></h1>
<h3>Your Awesome Contributions!</h3>
<% @games.each do |game| %>
  <img src="<%= game.media %>" alt="<%= game.title %>" height="200" width="320">
  <%= link_to "#{game.title}", user_game_path(@user, game)%>
<% end %>
<br>
<h3>Your Awesome Ideas!</h3>
<% @ideas.each do |idea| %>
<li>
  <%= link_to "#{idea.tag}", user_idea_path(@user, idea) %>
</li>
<% end %>
<br>
<% if current_user %>
  <%= link_to "Add new idea!", new_idea_path, class: "btn btn-primary" %>
<% end %>
<footer>
  <%= link_to "Update Profile", edit_user_path(@user), class: "btn btn-primary" %>
  <%= link_to "Remove User", user_path, class: "btn btn-danger", method: :delete, data: {confirm: "Remove User?"} %>
</footer>
