<div class="page-header blackbg">
  <div class="block">
    <h1><small>Welcome! </small> <%= @user.user_name %>'s <small>Latest Contributions:</small> </h1>
  </div>
  <div class="right vcenter">
    <% if session[:user_id] == @user.id %>
      <%= link_to "Update Profile", edit_user_path(@user), class: "btn btn-primary" %>
      <%= link_to "Remove User", user_path, class: "btn btn-danger", method: :delete, data: {confirm: "Remove User?"} %>
    <% end %>
  </div>
</div>
<div class="blackbg">
  <div class="block">
    <h2><%= @user.user_name %>'s Awesome Games!</h2>
  </div>
    <div class="sort right">
      <%= render 'ideas/needidea' %>
    </div>
      <% if @user.games.length == 0 %>
        <p><%= @user.user_name %> doesen't have any games yet :'(</p>
      <% end %>
</div>
<br>
<%= render 'games/gamelist' %>
<br>
<div class="blackbg">
  <div class="block">
    <h2><%= @user.user_name %>'s Awesome Ideas!</h2>
  </div>
  <div class="sort right">
    <%= render 'ideas/addidea' %>
  </div>
</div>
<br>
<% if @user.ideas.length == 0 %>
  <div class="list-group-item">
    <p><%= @user.user_name %> Haven't given ideas yet :'(</p>
  </div>
<% end %>
<%= render 'ideas/list' %>
