<!DOCTYPE html>
<html>
<head>
  <title>IndieThinkTank</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <header>
      <div class="header">
        <%= render 'layouts/navbar' %>
      </div>
    </header>

      <div class="container">
        <% flash.each do |type, message| %>
          <p class="flash <%= type.to_s %>"><%= message %></p>
        <% end %>
      </div>

    <%= yield %>
    <footer>
      <div class="footer">
        <%= render 'layouts/navbar' %>
      </div>
    </footer>
    <br>
    <br>
  </div>
</body>
</html>
